@use "sass:color";
/** Media Queries **/
@mixin telefono {
    @media (max-width: 720px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($colorFondo, $colorTexto, $display) {
    background-color: $colorFondo;
    color: $colorTexto;
    text-decoration: none;
    text-align: center;
    margin-top: separacion / 2;
    display: $display;
    border: none;
    padding: 1.1vh 1.3vh 1.1vh 1.3vh;
    border-radius: 0.5rem;
    font-weight: $bold;
    font-size: 2vh;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);

    margin-top: 1vh;
    margin-bottom: 1vh;

    &:hover {
        background-color: color.adjust($colorFondo, $lightness: -5);
        transition: all 1s;
        cursor: pointer;
    }
    
}