@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap');
@import url('https://use.typekit.net/vis8rlb.css');
// fonts
$primary_font: 'aileron', sans-serif;
$secondary_font: 'Noto-sans', sans-serif;

// colors

/// main colors
$xiketic: #12121eff;
$ultramarine-blue: #3c5ce1ff;
$brilliant-rose: #fd61aaff;
$french-violet: #7b23ccff;
$aureolin: #feef0dff;


$infobgc: $aureolin;
$closebuttonbgc: $french-violet;
$fbButtonbgc: #DD2FA0;

// misc
$modalBorderRadius: 20px;